/* tudo que estiver aqui, sobrescreverá as classes tailwindcss, uma vez que aqui está sendo importado no main.tsx. Para resolver isso, envolopamos numa div wrapper dentro do componete Header ou simplesmente removemos backgroud-color daqui*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  background: transparent;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  color: #000;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
