# URL da API do Backend
# Exemplo local: http://localhost:3000
# Exemplo produção: https://sua-api.com
VITE_API_URL=http://localhost:3000

# Firebase credentials
VITE_FIREBASE_API_KEY=sua_chave_api
VITE_FIREBASE_AUTH_DOMAIN=sua_domaine_auth
VITE_FIREBASE_PROJECT_ID=sua_projeto_id
